.header {
  padding: 5px;
  margin: 0;
  background-color: rgb(239, 237, 82);
  .navbar {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
    }
    ul {
      display: flex;
      gap: 10px;
      list-style: none;
    }
  }
}
.navbar {
  h1 {
    a {
      overflow: hidden;
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: rgb(165, 157, 5);
    }

    a::before,
    a::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
    }
    a::before {
      background-color: #eaf031;
      height: 2px;
      bottom: 0;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    a::after {
      content: attr(data-replace);
      height: 100%;
      top: 0;
      transform-origin: 100% 50%;
      transform: translate3d(200%, 0, 0);
      transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
      color: #54b3d6;
    }

    a:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
    a:hover::after {
      transform: translate3d(0, 0, 0);
    }

    a span {
      display: inline-block;
      transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }

    a:hover span {
      transform: translate3d(-200%, 0, 0);
    }
  }
}
